@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

$white:#FFFFFF;
$black:#000000;
$blue:#20cef5;
$yellowGreen: #E0FF04;

@mixin flexCenter ($justify-content){
    display: flex;
    justify-content:$justify-content;
    align-items: center;
}

*{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

.jackets {
    @include flexCenter(space-evenly);
    width: 100vw;
    height: 40vh;
    margin-top: 5%;
        &__items {
            @include flexCenter(space-evenly);
            height: 100%;
            width: 80%;
        }
        &__item {
            height: 100%;
            width: 25%;
        }
        &__info{
            width: 60%;
            margin: 3%;
            @include flexCenter(center);
        }
}

.newIn {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: $white;
        &__greenLine{
            width: 45%;
            height: 5%;
            background-color: $yellowGreen
        }
}

.shopNow {
    @include flexCenter(center);
    width: 100vw;
    height: 10vh;
    background-color: $yellowGreen;
}

.screenshot {
    @include flexCenter(center);
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url(source/ScreenShot.png);
    background-size: cover;
        &__image {
            width: 35%;
            height: 12%;
            left: 50%;
            position: absolute;
        }
        &__textArrow {
            width: 25%;
            height: 5%;
            left:75%;
            top: 57%;
            position: absolute;
        }
        &__text {
            color: $white;
        }

}

.header{
    background-color: $white;
        &__top{
            @include flexCenter(space-between);
        }    
        &__search {
            width: 10vw;
            box-sizing: border-box;
        }
        &__searchline {
            width: 100%;
            border: none;
            position: relative;
            padding-left: 22px;
            padding-bottom: 0.5vh;
            border-bottom: 1px solid $black;
        }
        &__searchIcon {
            left: 10px;
            z-index: 1;
            position: absolute;
        }
        &__title {
            @include flexCenter(center);
            width: 60vw;        
        }
        &__form {
            @include flexCenter(space-evenly);
            width: 30vw;
            cursor: pointer;
        }
        &__register {
            width: 20%;
            font-size: 14px;
        }
        &__myAccount {
            justify-self: start;
            width: 20%;
            font-size: 14px;
        }
        &__bagwishlist{
            width: 40%;
            @include flexCenter(space-around);
        }
        &__O{
            @include flexCenter(center);
            height: 100%;
        }
        &__B{
            @include flexCenter(center);
        }
        &__R{
            @include flexCenter(center);
        }
        &__D{
            @include flexCenter(center);
        }
        &__outline{
            position: relative
        }
        &__innerLetterO{
            z-index: 1;
            position: absolute;            
        }
        &__innerLetterBup{
            z-index: 1;
            padding-left: 1vh;
            padding-bottom: 2.6vh;
            position: absolute;            
        }
        &__innerLetterBdown{
            z-index: 1;
            padding-top: 2.2vh;
            position: absolute;            
        }
        &__innerLetterRup{
            z-index: 1;
            padding-left: 1vh;
            padding-bottom: 2.6vh;
            position: absolute;             
        }
        &__nav{
            height: 10vh;
            width: 100vw;
            color: $black;
            @include flexCenter(space-evenly);
        }
        &__links{
            width: 100%;
            @include flexCenter(space-around);
        }
        &__shopby {
            @include flexCenter(center);
            width: 20%;
            cursor: pointer;
            flex-wrap: nowrap;
            margin: 0 5px;
            padding: 0 2px;
        }
}